.blocktopproducts {
	margin-bottom: 30px;
}

.topproducts {
    border: 1px solid #eee;
}
.topproducts-block {
    padding: 10px 15px;
    display: block;
    border-top: 1px solid #eee;
    min-height: 175px;
}
.topproducts-desciption ul {
    list-style: disc inside;
}
.topproducts-price {
    font-size: 18px;
    font-weight: 300;
}
.topproducts-price.on-sale {
    color: #e50000;
}